body{
    background-color: #f4f4f4;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.img{
    width: 25px;
    height: auto;
}

.tooltip {
    position: absolute;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    height: auto;
    background-color: slateblue;
    color: antiquewhite;
    text-align: left;
    padding: 0px 20px;
    border: 30px;
    border-radius: 5px;
    border-color: white;

    position: absolute;
    z-index: 1;
    bottom: -60px;
    left: 100%;
    margin-bottom: 50%;

    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.box1{
    background-color: darkslateblue;
    color: antiquewhite;

    margin: auto;
    margin-top: 50px;
    width: 60%;
    padding: 5px 20px;
    /* border: 2px dotted #ccc; */
    box-shadow: 6px 7px rgba(0, 0, 0, 0.35);
}

.button{
    background-color: indigo;
    color: whitesmoke;
    border: none;
    padding: 10px 15px;
}

.button:hover{
    background-color: red;
}

#main-header{
    text-decoration: underline;
}

.my-form{
    padding: 20px;
}

.my-form .form-item{
    padding-bottom: 20px;
    position: relative;
}

.my-form label{
    display: block;
}

.my-form .field{
    padding: 4px;
    width: 300px;
}

